.header {
	width: 600px;
	height: 450px;
	background: url('http://static.tumblr.com/udrhgqb/wO7lzaie4/joo_blog.png') no-repeat 0 0;
}
#branding {
	text-indent: -50000px;
}
#branding a, #branding a:active {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 160px;
	height: 160px;
	background: url('http://static.tumblr.com/udrhgqb/4FHlzahby/hana_joo_mix.png') no-repeat 0px -320px;
}
#branding a:hover {
	background-position: 0px -480px;
}
.joohananet a {
	z-index: 1;
	display: block;
	text-indent: -50000px;
	position: absolute;
	left: 0;
	bottom: -70px;
	width: 160px;
	height: 160px;
	background: url('http://static.tumblr.com/udrhgqb/4FHlzahby/hana_joo_mix.png') no-repeat 0px -800px;
	transition: bottom .5s ease-out 0s;
	-moz-transition: bottom .5s ease-out 0s;
	-webkit-transition: bottom .5s ease-out 0s;
}
.joohananet a:hover {
	bottom: 0;
}
@media (max-width: 630px) {
	.header { width: auto; height:140px; background: none }
	#branding a, #branding a:active {
		width:120px;height:120px;
		background:url(http://static.tumblr.com/udrhgqb/nido0knr6/hana_joo_mix_mobile.png) no-repeat 0 -240px;
	}
	#branding a:hover {background-position:0 -360px;}
	.joohananet a{
		width:120px;height:120px;bottom:-50px;
		background:url(http://static.tumblr.com/udrhgqb/nido0knr6/hana_joo_mix_mobile.png) no-repeat 0 -600px;
	}
}
